.scrollable-stories {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    background-color: #305586;
    white-space: nowrap;
    border-radius: 20px; /* Adjust the radius to your preference */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for a more 3D effect */
    margin: 20px;
}

.story {
    background-color: #b8a7a787;
    margin: 0 10px;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease width 0.3s ease height 0.3s ease
        display 0.5s ease;
}

.story:hover {
    background-color: #999;
}

.story-content {
    position: fixed;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 90%;
    background-color: rgba(63, 55, 171, 0.8);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for a more 3D effect */
}

.story-content.active {
    display: flex;
}

.story-content .story-text {
    max-width: 600px;
}

.close-story {
    position: relative;
    top: 20px;
    right: 20px;
    background-color: #781d1d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
