/* Global Styles */
* {
    box-sizing: border-box; /* Ensure padding does not add to total width */
    cursor: none; /* Hide the default cursor globally */
}

body {
    font-family: "Courier New", Courier, monospace; /* Typeset font */
    color: #fff;
    /* background-color: #781d1d; */
    background-color: rgb(77, 122, 167);
    overflow-x: hidden;
    padding-top: 70px; /* Add padding equal to the header height */
}

h3 {
    /* color: black; */
    color: black;
}

