/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable Tailwind Typography */

/* Custom Global Styles */

/* Example custom style */
body {
    @apply bg-lightBackground text-lightText dark:bg-gray-900 dark:text-gray-100;
    font-family: "Inter", sans-serif;
    transition: background-color 0.5s ease;
}

body.overflow-hidden {
    overflow: hidden;
}

.object-cover {
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

.grainy-gradient {
    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1),
            rgba(0, 0, 0, 0.1)
        ),
        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAiIHkyPSIwIiB4Mj0iMjUwIiB5Mj0iMjUwIj48c3RvcCBzdHlsZT0iZmlsbDpyZ2JhKDAsMCwwKTtzdHJva2U6cmdiYSgwLDAsMCk7c3Ryb2tlLXdpZHRoOjI7Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgc3R5bGU9ImZpbGw6bm9uZTsiLz48L3N2Zz4=");
    background-blend-mode: overlay;
    background-size: cover, auto;
}

section {
    scroll-margin-top: 80px; /* Adjust this value based on your navbar height */
}

/* Ripple Effect Animation */
@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 0.5;
    }
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Optional: Smooth Scroll Behavior */
html {
    scroll-behavior: smooth;
}

.bg-dark-background {
    background-color: #1e293b; /* Tailwind gray-900 equivalent */
}
