/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable Tailwind Typography */

/* Custom Global Styles */

/* Example custom style */
body {
    @apply bg-lightBackground text-lightText dark:bg-gray-900 dark:text-gray-100;
    font-family: "Inter", sans-serif;
    transition: background-color 0.5s ease;
}

body.overflow-hidden {
    overflow: hidden;
}

.object-cover {
    object-fit: cover;
}
/* Trying to stick the footer to the bottom of the page */
html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
/* ---------------------------------------------------- */

.grainy-gradient {
    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1),
            rgba(0, 0, 0, 0.1)
        ),
        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAiIHkyPSIwIiB4Mj0iMjUwIiB5Mj0iMjUwIj48c3RvcCBzdHlsZT0iZmlsbDpyZ2JhKDAsMCwwKTtzdHJva2U6cmdiYSgwLDAsMCk7c3Ryb2tlLXdpZHRoOjI7Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgc3R5bGU9ImZpbGw6bm9uZTsiLz48L3N2Zz4=");
    background-blend-mode: overlay;
    background-size: cover, auto;
}

section {
    scroll-margin-top: 80px; /* Adjust this value based on your navbar height */
}

/* Ripple Effect Animation */
@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 0.5;
    }
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Optional: Smooth Scroll Behavior */
html {
    scroll-behavior: smooth;
}

.bg-dark-background {
    background-color: #1e293b; /* Tailwind gray-900 equivalent */
}

:root {
    --light-secondary-glow: conic-gradient(
        from 10deg at 50% 50%,
        #eb7494 0deg,
        #ae77b2 55deg,
        #97b5da 120deg,
        #0099ca 160deg,
        transparent 360deg
    );

    --light-third-glow: conic-gradient(
        from 90deg at 50% 50%,
        #ff8b7e 0deg,
        #e24e6b 160deg,
        #7ed2da 120deg,
        #8bdce0 55deg,
        transparent 360deg
    );

    --dark-secondary-glow: conic-gradient(
        from 10deg at 50% 50%,
        #2a2a2a 0deg,
        #3a3a3a 55deg,
        #4a4a4a 120deg,
        #5a5a5a 160deg,
        transparent 360deg
    );

    --dark-third-glow: conic-gradient(
        from 90deg at 50% 50%,
        #1a1a1a 0deg,
        #2a2a2a 160deg,
        #3a3a3a 120deg,
        #4a4a4a 55deg,
        transparent 360deg
    );
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}
