/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable Tailwind Typography */

/* Custom Global Styles */

/* Example custom style */
body {
    @apply bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-100;
    font-family: "Inter", sans-serif;
}

body.overflow-hidden {
    overflow: hidden;
}

.object-cover {
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}
